vendor/*

config/database_config.ini

composer.lock
composer.phar

*.log

app/views/cache/*
.DS_Store
node_modules/*
.sass-cache/*


public/content/css/application.css
public/js/application.js
phinx.yml

app/mailer/smtp_config.php